body {
  background-color: bisque;
  border: 1px;
  border-style: solid;
  width: 100%;
  height: 568px;
  align-items: center;
  margin: 0%;
  padding: 0%;
}

header {
  background-color: #ffffff80;
  padding-left: 10px;
  margin: 10px;
  border-radius: 10px;
  align-self: center;
  font-size: large;
}


main .itens {
  background-color: antiquewhite;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.main-class{
  display: flex;
  flex-direction: column;
  gap: 10px;
}



.itens {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20px, 1fr));
  gap: 12px;
}

.itens > div{
  background-color: rgb(255, 192, 114);
  aspect-ratio: 50px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(0, 0, 0);
}