body {
  background-color: bisque;
  border: 1px;
  border-style: solid;
  width: 100%;
  height: 568px;
  align-items: center;
  margin: 0%;
  padding: 0%;
}

header {
  background-color: #ffffff80;
  padding-left: 10px;
  margin: 10px;
  border-radius: 10px;
  align-self: center;
  font-size: large;
}

main .itens{
  background-color: antiquewhite;
  padding: 20px;
  border-radius: 15px;
  text-align: justify;
}
